@import './constants/variables';
@import './constants/mixins';
@import './constants/utils';
@import '../packages/bootstrap/scss/functions';
@import '../packages/bootstrap/scss/variables';
@import '../packages/bootstrap/scss/mixins/breakpoints';

* {
  font-family: $font-primary;
}

.container {
  max-width: 1300px;
}

// Navigation Section
$nav-height: 100px;
$nav-height-xs: 70px;
.nav-section {
  z-index: 100;
  width: 100vw;
  position: fixed;
  padding: 25px 30px;
  transition: 250ms;

  @include media-breakpoint-down(sm) {
    padding: 16px 5px;
  }

  &.active {
    transition: 250ms;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(25, 45, 100, 0.08);
  }

  .brand-logo {
    z-index: 101;
  }

  .links {
    a {
      display: inline-block;
      margin-right: 40px;
      color: black;
      font-size: 21px;
      line-height: 27px;
      text-decoration: none;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -10px;
        left: 0;
        background-color: $color-primary;
        visibility: hidden;
        transform: scaleX(0);
        transition: 300ms;
        border-radius: 2px;
      }

      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }

      &.active {
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }

  .menu-xs-icon {
    font-size: 25px;
    cursor: pointer;
  }

  .menu-xs {
    background-color: $color-primary;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 110px;
    transform: translateX(100%);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    &.active {
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      transform: translateX(0);
    }

    a {
      font-weight: 600;
      margin: 0;
      font-size: 25px;
      margin-bottom: 30px;
    }

    a::before {
      content: none;
    }

    .menu-close {
      font-size: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .menu-container {
      width: 100vw;
      height: 400px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;

      .store-container {
        @include flex(center, center);
        flex-wrap: wrap;
        margin-top: 30px;

        .store-container-label {
          margin-bottom: 0;
          display: block;
          font-size: 15px;
          color: black;
          flex-basis: 100%;
        }

        svg {
          width: 100%;
          height: 100%;
          display: block;
          flex: 1;

          image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// [Section 1] Main Section
.main-section {
  display: flex;
  padding-top: $nav-height;
  min-height: 600px;

  @include media-breakpoint-down(sm) {
    padding-top: $nav-height-xs;
  }

  .left {
    @include flex(center, center);
    flex-direction: column;
    width: 58%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .title,
    select,
    button {
      width: 460px;

      &.title {
        margin-left: 17px;
        width: 477px;
      }
    }

    .title {
      @include remove-spacing;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
    }

    .select {
      select {
        margin-top: 16px;
        padding: 22px 20px;
        font-size: 20px;
        display: block;
        border: 1px solid #b5c2ca;
        border-radius: 6px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      i {
        margin-top: -50px;
        margin-right: 50px;
        float: right;
        font-size: 25px;
        color: #c1ddf0;
      }
    }

    button {
      padding: 20px 30px;
      margin-top: 16px;
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: bold;
      color: white;
      background-color: $color-primary;
      border: 0;
      border-radius: 6px;

      svg {
        margin-left: -50px;
        margin-right: 20px;
      }
    }
  }

  .right {
    width: 42%;
    background-image: url(../assets/images/main-background.jpg);
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

// [Section 2] Ranking Section
.ranking-section {
  padding: 90px 6% 0;

  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    font-size: 38px;
    font-weight: bold;
    line-height: 49px;
  }

  .ranking-container {
    margin-top: 90px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include media-breakpoint-down(md) {
      grid-gap: 15px;
      grid-template-columns: repeat(1, 1fr);
    }

    .item {
      padding: 72px 30px 31px;

      &.first {
        position: relative;
        border-radius: 5px;
        background-color: #fff6d9;
        border: 1px solid #cfcaac;
        grid-row: 1 / span 2;

        svg {
          position: absolute;
          right: 42px;
          top: -18px;
        }
      }

      &.second,
      &.third {
        border: 1px solid #b5c2ca;
        border-radius: 5px;
      }

      .rank-place {
        font-size: 18px;
        line-height: 28px;
      }

      .rank-title {
        @include remove-spacing;
        margin-top: 14px;
        font-size: 32px;
        font-weight: bold;
        line-height: 42px;
        letter-spacing: -20;
      }

      .rank-description {
        @include remove-spacing;
        margin-top: 23px;
        font-size: 22px;
        line-height: 32px;

        &.not-top {
          font-size: 18px;
        }
      }

      .pros-cons-container {
        margin-top: 78px;

        &.not-top {
          margin-top: 23px;
        }

        p {
          @include remove-spacing;
          font-size: 18px;
          font-weight: bold;
          line-height: 28px;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          margin-top: 13px;
          font-size: 18px;
          line-height: 28px;
        }
      }

      button {
        @include flex(center, center);
        width: 260px;
        height: 75px;
        color: white;
        font-family: Lato;
        font-size: 26px;
        font-weight: 500;
        display: block;
        margin-left: auto;

        border: 0;
        border-radius: 4px;
        background-color: $color-primary;

        &.not-top {
          margin-top: 25px;
          height: 50px;
          background-color: $color-dark-gray;
          font-size: 18px;
        }

        @include media-breakpoint-down(md) {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}

// [Section 3] Description Section
.description-section {
  margin-top: 115px;
  margin-bottom: 500px;

  @include media-breakpoint-down(md) {
    margin-bottom: 100px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 32px;

    &.spacing-bottom {
      margin-bottom: 50px;
    }
  }

  img {
    width: 100%;
    margin-top: 180px;

    @include media-breakpoint-down(md) {
      margin-top: 50px;
    }
  }
}

// Footer
footer {
  padding-bottom: 45px;

  p {
    color: $color-dark-gray;
    font-size: 16px;
  }

  .header {
    margin-top: 60px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .kontakt {
    .description {
      margin-bottom: 40px;
    }

    .address {
      margin-bottom: 25px;
    }
  }

  .list {
    p {
      margin-bottom: 5px;
    }
  }

  .note {
    max-width: 814px;
    margin: 100px auto 0;
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }
}
