@import './variables';

.section-bg-primary {
  background-color: $color-primary;
}

.section-bg-gray {
  background-color: $color-primary-gray;
}

.section-bg-yellow {
  background-color: #fff6d9;
}

.rotate {
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.rotate.rotate-90 {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
