// Colors
$color-primary: #ff5a60;
$color-dark-gray: #696969;
$color-primary-gray: #edf1f4;
$color-secondary-gray: #f6f8fa;

// Fonts
$font-primary: 'PT Sans', serif;
$font-secondary: 'Helvetica Neue', serif;
